/* font-family: "Roboto Condensed", sans-serif; */

.footer{
    height: 500px;
}
.linegrey{
   
    height: 2px;
}
.texting{
    font-family: "Roboto Condensed", sans-serif;
}
.lineone{
    height: 1px;
}
